<header>
  <h1>My rents</h1>
  <%= link_to 'Back', movies_path %>
</header>
<div class="row">
  <% @rents.each do |rent| %>
    <% quantity = rent[1] %>
    <% rent = rent[0] %>
    <div class="col-xs-6 col-md-3">
      <a href="#" class="thumbnail">
        <img src="..." alt="...">
      </a>
      <span>
        <h4><%= rent.name %></h4>
        <small><%= quantity %> unities</small> 
      </span>
    </div>
  <% end %>
</div>

