<div class='jumbotron'>
  <h1>Movies App</h1>
  <p>Welcome to the MoviesApp. Here you will be able to create, edit and rent movies. Be careful, If you owe money, you won't be able to do any rent.</p>
  <p>Please <%= link_to 'login', new_user_session_path %> or <%= link_to 'register a new account', new_user_registration_path %> to continue.</p>
</div>